/*:root{*/
/*    --bg-color: #cc5353;*/
/*    --radius:50%;*/
/*    --speed: 0.4s;*/
/*}*/
/*body{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100vh;*/
/*}*/
/*.card{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    border-radius: var(--radius);*/
/*    background-color: var(--bg-color);*/
/*    transition: transform var(--speed);*/
/*}*/
/*.card:hover{*/
/*    transform: scale(1.5); translateY(20%);*/
/*}*/
/*:root{*/
/*    --btn-color: #7d49f0;*/
/*    --btn-color-hover: #4b1381;*/
/*    --speed: 0.5s;*/
/*}*/
/*button{*/
/*    padding: 10px 15px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: var(--btn-color);*/
/*    color: white;*/
/*    font-size: 1.2rem;*/
/*    cursor: pointer;*/
/*    transition: background var(--speed), transform var(--speed);*/
/*    */
/*}*/
/*button:hover{*/
/*    background: var(--btn-color-hover);*/
/*    transform: translateY(-5px) scale(1.05);*/
/*}*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
:root{
    --bg-card: #333030;
    --ray-color: #f6f67e;
    --speed: 0.8s;
}
.card{
    width:350px;
    height:350px;
    background:var(--bg-card);
    border-radius: 5px;
    position: relative;
    DISPLAY: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.ray{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: var(--ray-color);
    filter: blur(50px);
    border-radius: 55%;
    animation: ray-animation 6s infinite;
}
@keyframes ray-animation {
    0%{top: -20%; left: -20%;}
    25%{top: 60%; left: 67%; background: #ffffdb;}
    50%{top: 20%; left: 20%; background: #9c9c38;}
    100%{top: 20%; left: 20%; background: var(--ray-color);}
}
